body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f3f5; /* Color de fondo gris claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff; /* Fondo blanco */
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.logo {
    width: 120px;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: #6c5b7b; /* Color morado pastel */
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #808080; /* Color gris */
    margin-bottom: 30px;
    line-height: 1.5;
}

.button{
    display: inline-block;
    padding: 15px 30px;
    background-color: #6c5b7b; /* Color morado pastel */
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #8a77a8; /* Color morado pastel más claro al pasar el mouse */
}

.social-icons {
    margin-top: 40px;
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
}

.social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}
